@page
@model Garage003.Pages.Garage.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Garage[0].GarageName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Garage) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GarageName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.GarageId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.GarageId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.GarageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
